@font-face 
  font-display fallback
  font-family "Maven Pro Regular"
  src url(assets/fonts/MavenPro-Regular.ttf) format("truetype")
  font-style normal
  font-weight 400

@font-face 
  font-display fallback
  font-family "Maven Pro Medium"
  src url(assets/fonts/MavenPro-Medium.ttf) format("truetype")
  font-style normal
  font-weight 500

@font-face 
  font-display fallback
  font-family "Maven Pro Bold"
  src url(assets/fonts/MavenPro-Bold.ttf) format("truetype")
  font-style normal
  font-weight 700

@font-face 
  font-display fallback
  font-family "Maven Pro Black"
  src url(assets/fonts/MavenPro-Black.ttf) format("truetype")
  font-style normal
  font-weight 900
