@import "src/styles/reset.styl"
@import "src/styles/mixins.styl"
@import "src/styles/fonts.styl"

body
  padding 0 rem(15px)
  background-color #fffaed
  color rgba(32, 43, 46, 0.95) 
  font-family "Maven Pro Regular", sans-serif
  font-size rem(14px)
  font-smooth always
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

#app-root
  display grid
  grid-template-columns 200px auto
  grid-template-rows 200px calc(100vh - 200px)
  grid-template-areas "personas cases"\
                      "personas products"
  grid-column-gap rem(50px)

aside
  grid-area personas

.makaira-logo
  display block
  height rem(200px)
  width rem(200px)

  &:hover
    cursor pointer
    
.search-case-list
  grid-area cases
  height rem(120px)
  margin-top rem(40px)
  fiveColumnGrid()

.searchcase
  &:hover
    cursor pointer

  input
    display none

  span
    display inline-flex
    align-items center
    justify-content center
    text-align center
    width 100%
    min-height rem(50px)
    padding 0 rem(5px)
    font-size rem(14px)
    line-height rem(16px)
    border 3px solid 
    border-radius 3px
    font-family "Maven Pro Bold", sans-serif

  &--search 
    span
      color #63b6c8
      border-color #63b6c8
    input:checked + span
      background-color #63b6c8
      color #fff
      border-color #fffaed
  &--category 
    span
      color #7ac74f
      border-color #7ac74f
    input:checked + span
      background-color #7ac74f
      color #fff
      border-color #fffaed
  &--manufacturer 
    span
      color #eb6e68
      border-color #eb6e68
    input:checked + span
      background-color #eb6e68
      color #fff
      border-color #fffaed

.daytime-container
  display flex
  justify-content space-around

button
  background none
  border none
  height rem(64px)
  width rem(64px)
  padding 0
  position relative

  &:hover
    cursor pointer

  &:focus
    outline none

  &.active:after
    content: ''
    display block
    height rem(24px)
    width rem(24px)
    background-image url('assets/images/check.svg')
    position absolute
    top rem(-5px)
    left 90%
  
  svg
    height inherit
    width inherit

.feather-sun
  color #FFC20F
  fill #FFC20F

.feather-moon
  color rgba(0,0,0,0.7)
  fill ghostwhite

.persona-list
  height calc(100% - 200px)
  display flex
  flex-direction column

.persona
  display inline-flex
  flex-direction column
  justify-content flex-end
  height rem(170px)
  text-align center

  &:hover
    cursor pointer

  & + &
    margin-top rem(20px)

  img
    height rem(100px)
    width rem(100px)
    display block
    margin 0 auto rem(15px)
    opacity 0.4

  input:checked + img
    opacity 1

  input
    display none

  span
    display block

    & + span
      margin-top rem(5)

.product-list
  grid-area products
  fiveColumnGrid()
  grid-template-rows rem(170px) rem(170px) rem(170px) rem(170px) rem(170px)
  grid-row-gap rem(20px)

.product-list__hint
  color #000
  position absolute
  top 40%
  left 50%
  transform translate(-50%, -50%)
  font-family "Maven Pro Medium", sans-serif
  font-size rem(36px)
  text-align center

.product-tile
  height rem(170px)
  background-color #fff
  box-shadow 0px 2px 4px rgba(0,0,0,0.18)
  padding rem(10px) rem(15px)
  display flex
  flex-direction column
  text-align center

  figure
    margin-bottom auto
    display flex
    justify-content center

.product-tile__title
  font-size rem(12px)

.product-tile__manufacturer
  font-size rem(10px)
  color rgba(32, 43, 46, 0.7) 
  margin-top rem(5px)

.product-tile__price
  font-size rem(12px)
  color #61304d
  margin-top rem(5px)
  padding-top rem(5px)
  border-top 1px solid rgba(32, 43, 46, 0.1)  

.circle
  display block
  height 300px
  width 300px
  border-radius 100%
  position absolute
  opacity .5

  &--red
    background: rgb(233, 108, 103);
    top: 61%;
    left: 14%;
    height: 500px;
    width: 500px;
    z-index: -2;
  &--blue
    background: rgb(100, 180, 198);
    top: 22%;
    left: 30%;
    height: 450px;
    width: 450px;
    z-index: -1;
  &--yellow
    background: rgb(252, 209, 110);
    top: 40%;
    left: 55%;
    height: 600px;
    width: 600px;
    z-index: -2;
